<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <servlet>
        <servlet-name>MainServlet</servlet-name>
        <servlet-class>org.csu.mypetstore.web.servlets.MainServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainServlet</servlet-name>
        <url-pattern>/main</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ViewCategoryServlet</servlet-name>
        <servlet-class>org.csu.mypetstore.web.servlets.ViewCategoryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewCategoryServlet</servlet-name>
        <url-pattern>/ViewCategory</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ViewProductServlet</servlet-name>
        <servlet-class>org.csu.mypetstore.web.servlets.ViewProductServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewProductServlet</servlet-name>
        <url-pattern>/ViewProduct</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ViewItemServlet</servlet-name>
        <servlet-class>org.csu.mypetstore.web.servlets.ViewItemServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewItemServlet</servlet-name>
        <url-pattern>/ViewItem</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SearchProductServlet</servlet-name>
        <servlet-class>org.csu.mypetstore.web.servlets.SearchProductServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchProductServlet</servlet-name>
        <url-pattern>/Search</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddItemToCartServlet</servlet-name>
        <servlet-class>org.csu.mypetstore.web.servlets.AddItemToCartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddItemToCartServlet</servlet-name>
        <url-pattern>/addItemToCart</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ViewCartServlet</servlet-name>
        <servlet-class>org.csu.mypetstore.web.servlets.ViewCartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewCartServlet</servlet-name>
        <url-pattern>/viewCart</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RemoveItemFromCartServlet</servlet-name>
        <servlet-class>org.csu.mypetstore.web.servlets.RemoveItemFromCartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RemoveItemFromCartServlet</servlet-name>
        <url-pattern>/removeItemFromCart</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateCartServlet</servlet-name>
        <servlet-class>org.csu.mypetstore.web.servlets.UpdateCartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateCartServlet</servlet-name>
        <url-pattern>/updateCart</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ViewSignOnServlet</servlet-name>
        <servlet-class>org.csu.mypetstore.web.servlets.ViewSignOnServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewSignOnServlet</servlet-name>
        <url-pattern>/viewSignOn</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ViewRegisterServlet</servlet-name>
        <servlet-class>org.csu.mypetstore.web.servlets.ViewRegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewRegisterServlet</servlet-name>
        <url-pattern>/viewRegister</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>org.csu.mypetstore.web.servlets.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MainAfterLoginServlet</servlet-name>
        <servlet-class>org.csu.mypetstore.web.servlets.MainAfterLoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainAfterLoginServlet</servlet-name>
        <url-pattern>/mainAfterLogin</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ViewSignOutServlet</servlet-name>
        <servlet-class>org.csu.mypetstore.web.servlets.ViewSignOutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewSignOutServlet</servlet-name>
        <url-pattern>/viewSignOut</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ViewMyAccountServlet</servlet-name>
        <servlet-class>org.csu.mypetstore.web.servlets.ViewMyAccountServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewMyAccountServlet</servlet-name>
        <url-pattern>/viewMyAccount</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EditAccountServlet</servlet-name>
        <servlet-class>org.csu.mypetstore.web.servlets.EditAccountServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditAccountServlet</servlet-name>
        <url-pattern>/editAccount</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>NewOrderFormServlet</servlet-name>
        <servlet-class>org.csu.mypetstore.web.servlets.NewOrderFormServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewOrderFormServlet</servlet-name>
        <url-pattern>/newOrderForm</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AuthImage</servlet-name>
        <servlet-class>org.csu.mypetstore.web.servlets.AuthImageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AuthImage</servlet-name>
        <url-pattern>/authImage</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ShippingFormServlet</servlet-name>
        <servlet-class>org.csu.mypetstore.web.servlets.ShippingFormServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShippingFormServlet</servlet-name>
        <url-pattern>/shippingForm</url-pattern>
    </servlet-mapping>
    <servlet>
    <servlet-name>ShippingToConfirmFormServlet</servlet-name>
    <servlet-class>org.csu.mypetstore.web.servlets.ShippingToConfirmFormServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShippingToConfirmFormServlet</servlet-name>
        <url-pattern>/shippingToConfirmForm</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>NewOrder</servlet-name>
        <servlet-class>org.csu.mypetstore.web.servlets.NewOrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewOrder</servlet-name>
        <url-pattern>/newOrder</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>listOrders</servlet-name>
        <servlet-class>org.csu.mypetstore.web.servlets.ListOrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>listOrders</servlet-name>
        <url-pattern>/listOrders</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ViewOrdersServlet</servlet-name>
        <servlet-class>org.csu.mypetstore.web.servlets.ViewOrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewOrdersServlet</servlet-name>
        <url-pattern>/viewOrder</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ViewCartAndRemove</servlet-name>
        <servlet-class>org.csu.mypetstore.web.servlets.ViewCartAndRemoveServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewCartAndRemove</servlet-name>
        <url-pattern>/viewCartAndRemove</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>logFilter</filter-name>
        <filter-class>org.csu.mypetstore.web.Filter.LogFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>logFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>